/* Reset from Slaying The Dragon on youtube */
/* https://youtu.be/nSst4-WbEZk?t=1030 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* ------ End Reset ------- */

* {
  background-color: #c8f2ef;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Style the navigation bar */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-bar {
  width: 100%;
  display: flex;
  /* align-items:; */
  justify-content: center;
  padding: 0px 24px;
  height: 80px;
}

.navigation-bar > .content {
  max-width: 1000px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-bar > .content > .name {
  font-size: 20px;
  font-weight: 900;
}

.navigation-bar > .content > .extra-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation-bar > .content > .extra-content > .links {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-size: 16px;
}

/* General Button Styling */

.button {
  background-color: #0c3f09;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}

/* Hero image styling */

.circle {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 90px;
}
.circle > img {
  width: 90px;
  height: 90px;
}

/* Landing Page Hero Styling */
.personal-bio {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 104px 24px;
}
.landing-page-hero {
  max-width: 1000px;
}

.personal-bio .textblock {
  font-size: 28px;
}

.personal-bio p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.bigtext {
  font-size: 40px;
  font-weight: 900;
}

/* Section Heading */

.section-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  padding: 72px 24px 0px 24px;
}

.section-heading > p {
  text-align: left;
  max-width: 1000px;
  width: 100%;
}

/* Card Styling */

.project-card {
  padding: 56px 24px;
}

.project-card > .content {
  display: flex;
  max-width: 1000px;
  gap: 1rem;
}

.project-card .title {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.project-card .short-description {
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 38px;
}

.thumbnail {
  width: 100%;
  flex-grow: 1;
}

.thumbnail > img {
  width: 100%;
  height: auto;
}

.content > .description {
  flex-grow: 1;
}


/* Footer Styling */

.footer-bar {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.footer-bar > .links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-bar > .name {
  flex-grow: 1;
}
