/* Reset from Slaying The Dragon on youtube */
/* https://youtu.be/nSst4-WbEZk?t=1030 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* ------ End Reset ------- */
* {
    background-color: #C8F2EF;
}